* {
    font-family: 'VT323', monospace;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: white;
}
body {
    background-color: #2B2A4C;
}

#geral {
    justify-content: center;
    background-image: url('../Imagens/back.jpg');
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.container {
    padding-left: 140px;
    display: flex;
    flex-direction: column;
}
.logo {
    color: black;
    font-size: 120px;
    display: flex;
    margin-top: 80px;
    margin-bottom: 70px;
    text-shadow: 5px 5px 05px black;
}
.menu ul {
    text-decoration: none;
    font-size: 60px;
    color: white;
    list-style-type: none;
    line-height: 120px;
    text-shadow: 5px 5px 05px black;
}
.menu a:hover {
    color: #B31312;
}

#text {
    display: flex;
    justify-content: center;
    background-image: url('../Imagens/back2.png');
}
.ptext {
    margin-top: 200px;
    width: 1600px;
    background-color: #0E0D0C;
    height: 750px;
}
p {
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
h2 {
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin-bottom: 20px;
}


#tline {
    display: flex;
    justify-content: center;
    background-image: url('../Imagens/back2.png');
}
.timeline {
    width: 1600px;
    background-color: #0E0D0C;
    padding-top: 50px;
}
img {
    height: 500px;
    width: 500px;
    margin-left: 25px;
    margin-bottom: 22px;
    padding: 0px;
}
h3 {
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin-bottom: 20px;
}

#rodape {
    display: flex;
    justify-content: center;
    height: 30px;
    padding-top: 10px;
    background-color: #0E0D0C;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: baseline;
}